@charset "UTF-8";

/* .account_nav {
    width: 15%;
    height: 90%;
    float: left;
    background-color: #C4D7B2;
}

.account_section {
    width: 65%;
    height: 90%;
    float: left;
    background: #A0C49D;
    overflow-y: auto;
}

.account_aside {
    width: 20%; 
    height: 90%; 
    float: left;
    background: transparent; 배경색을 투명하게 설정
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
} */
/* ㄴ> html 구조  */




.popup-content {
    background: linear-gradient(to bottom, #CA61FF, hsl(265, 100%, 72%), #945FFF);
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.472);
}

/* ㄴ> 팝업창 색상 */


.budget-table{background-color: rgba(255, 255, 255, 0.472); width:400px;}
.expenses-table{background-color: rgba(255, 255, 255, 0.472); width:400px;}
.addline{background-color: rgba(255, 255, 255, 0.472); width:350px;}
.moneyinput{width:250px;}
.RecentTable {
    width: 500px;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.472);
    text-align: center;
    border-collapse: collapse;
}

.RecentTable th,
.RecentTable td {
	color: purple;
	font-weight: bold;
    border: 1px solid #F7FFE5;
    padding: 8px; /* 셀 내용과 테두리 사이의 간격 */
}

.RecentTable th {
	font-weight: bold;
    background-color: rgba(200, 200, 200, 0.472); /* 테이블 헤더 배경색 */
}
.MonthlyTable{width:500px; height:655px; background-color: rgba(255, 255, 255, 0.472);  text-align: center; border: 1px solid #993300;}
.MonthlyTable th,
.MonthlyTable td {
	color: purple;
	font-weight: bold;
    border: 1px solid #993300;
    padding: 8px; /* 셀 내용과 테두리 사이의 간격 */
}

.MonthlyTable th {
	font-weight: bold;
    background-color: rgba(200, 200, 200, 0.472); /* 테이블 헤더 배경색 */

}
.MonthlyDiv{display: flex; width:1100px; height:655px; background-color: #F7FFE5;  text-align: center; border: 1px solid #E1ECC8;}
.MonthlyDiv2{display: flex; width:1100px; height:340px; background-color: #F7FFE5;  text-align: center; border: 1px solid #E1ECC8;}
.MonthlyDiv3{display: flex; width:1100px; height:340px; background-color: #F7FFE5;  text-align: left; border: 1px solid #993300; position: relative; 	color: purple;
	font-weight: bold; padding: 5px;
    }

