<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accountBook">
	<insert id="insert" parameterType="accountBookDTO" useGeneratedKeys="true" keyProperty="SEQ">
		insert into account_book values (#{seq},#{socialId},#{createAt})
	</insert>
	<select id="one" parameterType="String" resultType="accountBookDTO">
		select * from account_book where SOCIAL_ID = #{socialId}
	</select>
	<select id="find" parameterType="String" resultType="String">
		select SEQ from account_book where SOCIAL_ID = #{socialId}
	</select>
	<select id="list" resultType="int">
		select SEQ from account_book

	</select>
</mapper>