<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accountBudget">
	<insert id="insert" parameterType="accountBudgetDTO" useGeneratedKeys="true" keyProperty="SEQ">
		insert into account_budget values (#{seq},#{accountBookId},#{fixedCategory},#{price},now())
	</insert>
	<select id="one" parameterType="accountBudgetDTO" resultType="accountBudgetDTO">
		select FIXED_CATEGORY,PRICE,USED_AT from account_budget
		where ACCOUNT_BOOK_ID = #{accountBookId} AND MONTH(USED_AT) = #{currentMonth} AND YEAR(USED_AT) = #{currentYear} AND FIXED_CATEGORY = #{fixedCategory}
	</select>
	<select id="list" parameterType="accountBudgetDTO" resultType="accountBudgetDTO">
		select * from account_budget
		where ACCOUNT_BOOK_ID = #{accountBookId} AND MONTH(USED_AT) = #{currentMonth} AND YEAR(USED_AT) = #{currentYear}
	</select>
	<update id="update" parameterType="accountBudgetDTO">
		update account_budget
		set PRICE = #{price},
		USED_AT = now()
		where ACCOUNT_BOOK_ID = #{accountBookId} AND MONTH(USED_AT) = #{currentMonth} AND YEAR(USED_AT) = #{currentYear} AND FIXED_CATEGORY = #{fixedCategory}
	</update>
	<select id="listAll" parameterType="accountBudgetDTO" resultType="accountBudgetDTO">
		select * from account_budget
		where ACCOUNT_BOOK_ID = #{accountBookId}
	</select>
	<insert id="insertDate" parameterType="accountBudgetDTO" useGeneratedKeys="true" keyProperty="SEQ">
		insert into account_budget values (#{seq},#{accountBookId},#{fixedCategory},#{price},#{usedAt})
	</insert>
</mapper>