<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basket">
	
	<resultMap id="basketResultMap" type="com.multi.moneybug.product.BasketDTO">
    <id property="seq" column="seq"/>
    <result property="userId" column="userId"/>
    <result property="productId" column="productId"/>
    <result property="productCount" column="productCount"/>
</resultMap>

	
	<select id="basket_List" parameterType = "String" resultMap="basketResultMap">
		SELECT *
        FROM basket
        WHERE user_id = #{userId}
	</select>
	
	 <!-- 장바구니에 상품이 있는지 체크하는 쿼리 -->
    <select id="checkProductInBasket" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM basket
        WHERE user_id = #{userId}
        AND product_id = #{productId}
    </select>
    
     <!-- 장바구니에 상품 업데이트하는 쿼리 -->
    <update id="updateProductInBasket" parameterType="com.multi.moneybug.product.BasketDTO">
        UPDATE basket
        SET product_count = product_count + #{productCount}
        WHERE user_id = #{userId}
        AND product_id = #{productId}
    </update>

	<insert id="addToBasket" parameterType="BasketDTO">
        INSERT INTO basket (user_id, product_id, product_count) VALUES (#{userId}, #{productId}, #{productCount})
    </insert>
    
</mapper>
