<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basket">
	
	<resultMap id="basketResultMap" type="com.multi.moneybug.product.BasketDTO">
    <id property="seq" column="seq"/>
    <result property="userId" column="userId"/>
    <result property="productId" column="productId"/>
    <result property="productCount" column="productCount"/>
</resultMap>

	
	<select id="basket_List" parameterType = "String" resultMap="basketResultMap">
		SELECT *
        FROM basket
        WHERE user_id = #{userId}
	</select>

</mapper>
