<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bonboard">


	<!-- 살까말까 게시물 작성 -->
	<insert id="insert" parameterType="bonboardDTO">
		
		INSERT INTO bon_board(userNickname, title, content, views, itemLink, createAt, voteEndAt) 
		VALUES (#{userNickname}, #{title}, #{content}, #{views}, #{itemLink},
		 now(), #{voteEndAt})
	</insert>

	<!-- 게시물 상세보기 -->
	<select id="one" resultType="bonboardDTO" parameterType="int" >
		SELECT * FROM bon_board
		WHERE SEQ =	#{seq}
	</select>

	<!-- 게시물 리스트 가져오기 -->
	<select id="list" resultType="bonboardDTO" parameterType="bonboardpageDTO" >
		select * from (
		select ROW_NUMBER() over(order by seq desc) as rowNo, b.*
		from bon_board b) bbs2
		where bbs2.rowNo between #{start} and #{end}
	</select>

	<!-- 게시물 업데이트 -->
	<update id="update" parameterType="bonboardDTO">
		UPDATE bon_board 
		SET TITLE = #{title}, CONTENT = #{content}
		where SEQ = #{seq}

	</update>

	<!-- 게시물 삭제 -->
	<delete id="delete">
		DELETE FROM bon_board WHERE SEQ = #{seq}
	</delete>


 <select id="count" resultType="int">
        SELECT COUNT(*) FROM bon_board
    </select>


	<select id="all"  parameterType="bonboardpageDTO">
		select * from (
		select ROW_NUMBER() over(order by seq desc) as bbs_no,
		b.*
		from bon_board b) bbs2
		where bbs2.bbs_no between ${start} and ${end}

		<!-- mysql 5.5 select @row_number:=@row_number+1 as bbs_no, b.* from (select 
			@row_number:=0) as r, bbs b order by id desc limit 10 offset ${start} -->
	</select>
	
	
	
	<!-- 살까말까 게시글 조회수  -->
	
	<select id="view" parameterType="int" resultType="int">
	select views from bon_board
	where seq = #{seq}
	</select>
	
	<update id="viewplus" parameterType="bonBoardDTO" >
	update bon_board
	set views=#{views}
	where seq=#{seq}
	</update>

</mapper>
