<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<resultMap id="productResultMap"
		type="com.multi.moneybug.product.ProductDTO">
		<id property="productId" column="productId" />
		<result property="productType" column="productType" />
		<result property="productName" column="productName" />
		<result property="productImg" column="productImg" />
		<result property="productOriprice" column="productOriprice" />
		<result property="productPrice" column="productPrice" />
		<result property="productInfo" column="productInfo" />
	</resultMap>

	<resultMap id="orderListMap"
		type="com.multi.moneybug.product.OrderListDTO">
		<id property="orderNumber" column="orderNumber" />
		<result property="basketSeq" column="basketSeq" />
		<result property="userId" column="userId" />
		<result property="orderAt" column="orderAt" />
		<result property="userName" column="userName" />
		<result property="address" column="address" />
		<result property="tel" column="tel" />
		<result property="price" column="price" />
		<result property="discountPrice" column="discountPrice" />
		<result property="totalPrice" column="totalPrice" />
		<result property="payTool" column="payTool" />
		<result property="orderStatus" column="orderStatus" />

	</resultMap>

	<select id="product_List" resultMap="productResultMap"
		parameterType="productpageDTO">
		select * from
		(select row_number() over(order by PRODUCT_ID asc) as rowNum, p.*
		from product
		p ) as p2
		where rowNum between #{start} and #{end}
	</select>

	<select id="count" resultType="Integer">
		select count(*) from product
	</select>

	<select id="product_detail" parameterType="int"
		resultType="productDTO">
		select * from
		product
		where PRODUCT_ID = #{productId}
	</select>

	<select id="getProductsByIds" parameterType="java.util.List"
		resultMap="productResultMap">
		SELECT *
		FROM product
		WHERE PRODUCT_ID IN
		<foreach item="productId" collection="list" open="("
			separator="," close=")">
			#{productId}
		</foreach>
	</select>

	<select id="manageList" resultMap="productResultMap">
		select * from product
	</select>

	<insert id="insert" parameterType="productDTO"
		useGeneratedKeys="true">
		insert into product
		values (null,#{productType}, #{productName}, #{productImg},
		#{productOriprice}, #{productPrice}, #{productInfo})
	</insert>
	
	<select id="orderList" resultMap="orderListMap">
		select * from order_list
	</select>
	
	<select id="myOrderList" resultMap="orderListMap">
		select * from order_list where USER_ID = #{userId}
	</select>
	
	<update id="updateOrder" parameterType="java.util.Map">
	    update order_list
	    set order_status = #{newStatus}
	    WHERE ORDER_NUMBER = #{orderNumber}
	</update>

	<insert id="orderInsert"
		parameterType="com.multi.moneybug.product.OrderListDTO">
		INSERT INTO order_list
		VALUES (null, #{basketSeq},
		#{userId}, CURRENT_TIMESTAMP, #{userName},
		#{address}, #{tel},
		#{price}, #{discountPrice}, #{totalPrice},
		"inicis","배송준비")
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from product
		where PRODUCT_ID = #{productId}
	</delete>
	
	<update id="update" parameterType="productDTO">
	  update product
	  set PRODUCT_NAME = #{productName},
	  PRODUCT_IMG = #{productImg},
	  PRODUCT_ORIPRICE = #{productOriprice},
	  PRODUCT_PRICE = #{productPrice},
	  PRODUCT_INFO = #{productInfo}
	  where PRODUCT_ID = #{productId}
	</update>
	
</mapper>