<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tagreply">

	<insert id="insert" parameterType="tagreplyDTO"
		useGeneratedKeys="true" keyProperty="seq">
		<selectKey keyProperty="groupSeq" resultType="int"
			order="BEFORE">
			SELECT IFNULL(MAX(GROUP_SEQ), 0) + 1 FROM tag_reply
		</selectKey>
		insert into tag_reply (SEQ,
		BOARD_SEQ, CONTENT, WRITER_ID, CREATE_AT,
		ORIGIN_SEQ, REPLY_ORDER,
		REPLY_LEVEL, GROUP_SEQ, ORIGIN_WRITER)
		values (null,
		#{boardSeq}, #{content}, #{writerId}, now(),
		null, 0, 0, #{groupSeq}, null)
	</insert>

	<insert id="reinsert" parameterType="tagreplyDTO"
		useGeneratedKeys="true" keyProperty="SEQ">
		<selectKey keyProperty="groupSeq" resultType="int"
			order="BEFORE">
			SELECT GROUP_SEQ FROM tag_reply WHERE SEQ = #{originSeq}
		</selectKey>
		insert into tag_reply (SEQ,
		BOARD_SEQ, CONTENT, WRITER_ID, CREATE_AT, ORIGIN_SEQ, REPLY_ORDER,
		REPLY_LEVEL, GROUP_SEQ, ORIGIN_WRITER)
		SELECT
		null, #{boardSeq}, #{content}, #{writerId}, now(),
		#{originSeq},
		COALESCE(MAX(REPLY_ORDER), 0) + 1, 1, #{groupSeq}, #{originWriter}
		FROM tag_reply WHERE
		ORIGIN_SEQ = #{originSeq}
	</insert>



	<select id="list" resultType="tagreplyDTO">
    select * from tag_reply
    where
    BOARD_SEQ = #{boardSeq}
    order by GROUP_SEQ asc,
    CASE WHEN SEQ = ORIGIN_SEQ THEN REPLY_ORDER ELSE SEQ END asc,
    REPLY_ORDER asc,
    SEQ asc
</select>





	<update id="update" parameterType="tagreplyDTO">
		update tag_reply set CONTENT =
		#{content} WHERE SEQ = #{seq}
	</update>
	
	<update id="delupdate" parameterType="tagreplyDTO">
    UPDATE tag_reply
    SET CONTENT = #{content},
        WRITER_ID = null,
        CREATE_AT = null
    WHERE SEQ = #{seq}
</update>


	<delete id="delete">
		delete from tag_reply WHERE SEQ = #{seq}
	</delete>

	<select id="count" resultType="Integer">
		select count(*) from tag_reply
		where BOARD_SEQ= #{boardSeq}
	</select>

</mapper>











